body{
    background: radial-gradient(circle at center, red 0, black 100%);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
/* =======================================================Start Of Navbar ====================================================== */
i{
    color: white;
}
nav li {
    display: inline-block;
}
nav li a{
    color: white;
    text-decoration: none;
}
#first-nav{
    display: inline-block;
    width: auto;
}
#logo-head,#user-head{
    border-radius: 50%;
    margin-top: 10px;
}

.my-brand{
    position: relative;
    color: white;
    top:-12px;
    margin-left: 10px;
    font-weight: 800;
}
#brand-name span{
    position: relative;
    text-decoration: none;
    top:30px;
}
.logo-txt{
    margin-left: 30px;
}
.sangg{
    animation: bounce-3 2s ease-in-out;
}
@keyframes bounce-3 {
    0%{
        transform: translateY(20px);
    }
    25%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(15px);
    }
    75%{
        transform: translateY(-10px);
    }
}
#favorites{
    position: relative;
    margin-left: 50px;
    font-weight: 100;
    top: -12px;
    font-size: 1.1rem;
}
#second-nav{
    position: relative;
    /* left:40%; */
    float: right;
    margin-right: 30px;
    top: 20px;
}

#second-img{
    margin-left: 30px;
}
#notification{
    border-radius: 50%;
    background-color: red;
    height: 7px;
    width: 7px;
    position: absolute;
    top: -2px;
    left: 9px;
    color: transparent;
}
.fa-bell{
    position: relative;
    top:-12px;
    font-size: 1.2rem;
    color: white;
}
#search-bar{
    position: relative;
    display: inline-block;
    top: -15px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(47, 47, 51, 0.39);
}
#search-bar input{
    background: transparent;
    display: inline-block;
    height: 100%;
    width: 220px;
    color: white;
    border:none;
}
input:focus,select:focus{
    outline: none;
}
.fa-search , .fa-microphone{
    position: relative;
    width: 30px;
    height: 90%;
    text-align: center;
    top:0px;
    left:4px;
}

/* =======================================================End Of Navbar ====================================================== */


/* End of navbar */
main{
    width: 75%;
    display: inline-block;
    height: 100vh;
}
aside{
    width: 22%;
    margin-top: 60px;
    margin-left: 2%;
    height: 700px;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    /* background-color: rebeccapurple; */
}
aside::-webkit-scrollbar {
    width: 10px;
}
#display{
    margin-top: 50px;
    padding: 10px;
    height: 100vh;
    position: relative;
    width: 100%;
}
#display-head{
    position: relative;
    display: inline-block;
    height: auto;
    background-color: black;
    color: white;
    width: 100%;
    /* background-color: yellow; */
}
#display-bodhead{
    display: inline-block;
     width: 450px;
     position: relative;
}
#display-bodhead h5{
    font-size: 34px;
}
#display-bodhead h1{
    font-size: 84px;
}
#display-head p{
    font-size: 18px;
    width: 300px;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
}
#display-bodhead ul li{
    margin: 2px;
    display: inline-block;
}
.dis-text{
    color: black;
    font-size: 12px;
    margin-right: 3px;
}
#my-play-btn{
    width: 190px;
    padding: 10px;
    background-color:#ffdb58;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 20px;
    cursor: pointer;
}
#my-play-btn:hover{
    box-shadow: 0px 0px 12px 2px rgba(151, 150, 150, 0.555);
}
#down-playlist{
    background: rgba(211, 211, 211, 0.171);
    height: 600px;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    display: inline-block;
}
aside::-webkit-scrollbar {
    width: 10px;
}
#listplay{
    width: 98%;
    margin: 1%;
}
#listplay tr th{
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 30px !important;
}
#listplay tr td{
    height: 75px;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}
#listplay {
    border-collapse: collapse;
  }
  
  tr {
    border-bottom: 1pt solid black;
    color: white;
  }
  .track{
      text-align: left !important;
  }
  .track img{
      margin-left: 20px;
      margin-right: 20px;
      background-size: cover;
  }
  .track span{
    display: inline-block;
    position: relative;
    font-size: 1.1rem;
    color: rgba(211, 211, 211, 0.596);
    font-family: 200;
  }
  .tracka{
      font-family: 700;
      font-size: 1.3rem;
      position: relative;
      top:-5px;
      color: white !important;
  }


  
/* Aside queue */


#queue-one
#queue-two{
    height: auto;
}
#queue-one h2,
#queue-two h2{
    display: inline-block;
    color: white;
}
#queue-one span,
#queue-two span{
    margin-left: 60px;
    color: white;
}
#queue-top tbody>tr{
    height: 80px;
}

.qu-img{
    margin-left: 10px;
    margin-right: 10px;
}

.sec-td{
    padding-right: 30px;
}
#queue-two{
    margin-top: 30px;
}
.bt-td{
    display: inline-block;
}
.bt-td h4,
.bt-td h6{
    display: inline-block;
    margin-left: 40px;

}
.bt-ic i{
    margin-left: 50px;
}

.playhover{
    color: rgba(97, 207, 97, 0.993);
}


/* Player Section */

#player{
    color: white;
    position: fixed;
    background-color: rgb(29, 27, 27);
    width: 100%;
    height: 80px;
    bottom: 0;
}
#left{
    position: relative;
    display: inline-block;
    top: 0px;
    left: 20px;
    transform: scale(0.8);
    /* background-color: red; */
}
#left i{
    margin-left: 10px;
    position: relative;
    top: -25px;
}
#left img{
    border-radius: 50%;
    animation: 5s linear 0s infinite rotation;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#sub-left{
    display: inline-block;
}
#sub-left > h3{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;

}
#sub-left h3 span{
    font-size: 0.8rem;
    font-weight: 100;
}
#middle{
    position: absolute;
    width: auto;
    display: inline-block;
    /* background-color: red; */
    width: 100%;
    left: 0px;
    top:10px;
}
#middle i{
    position: relative;
    left: 43%;
    margin: 10px;
}
.progress-bar{
    position: absolute;
    left: 33%;
}
#audio{
    display: inline-block;
    background-color: lightgrey;
    height: 3px;
    border-radius: 3px;
    
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}
#audio-width{
    display: inline-block;
    height: 90%;
    background-color: rgb(106, 230, 106);
    position: relative;
    width: 40%;
    top: -11.5px;
}
#right{
    position: relative;
    display: inline-block;
    left: 63%;
    top: -40px;
}
#right i{
    margin:5px;
}
.volume-bar{
    display: inline-block;
}
.fa-arrows-alt-v{
    transform: rotate(45deg);
}
#audio-bar{
    width: 60px;
    position: relative;
    top: 5px;
}
#play-bar{
    position: relative;
    display: inline-block;
    left: 100px;
    width: 300px;
}
#start_num{
    position: absolute;
    left: 20%;
}
#end_num{
    position: absolute;
    left: 135%;
}